<!DOCTYPE html>

<html>

<head>
    <title><%= title %></title>
    <%- include('../partials/head'); %>
    <script src="/js/caisse.js"></script>
    <link rel='stylesheet' href='/stylesheets/css/index.css' />
</head>
<body>
<%- include('../partials/header', title='Caisse', session=session); %>
<%- include('../partials/calculette') %>
<%- include('../partials/paiement-ec') %>
<%- include('../partials/paiement-cb') %>
<%- include('../partials/paiement-cas') %>
<%- include('../partials/paiement-cass') %>
<%- include('../partials/paiement-di') %>
<%- include('../partials/paiement-payutc') %>
<%- include('../partials/journal-ventes', journalInitPage=journalInitPage) %>
<main>
    <div id="main-caisse-container>
        <h1><%= title %></h1>
<!--        <button-->
<!--                class="btn btn-outline-secondary"-->
<!--                type="button" data-bs-toggle="offcanvas"-->
<!--                data-bs-target="#calculettePartial"-->
<!--                aria-controls="calculettePartial"-->
<!--                style="height: 6.5vh">-->
<!--            Calculatrice-->
<!--        </button>-->
    </div>
    <div class="caisse-page-container" id="tableau-caisse" onkeydown="ajouterLigne(event);supprimerLigne(event)">
        <table class="table" id="table-article-caisse">
            <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Nom</th>
                <th scope="col">Qté</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Sous-total</th>
            </tr>
            </thead>
            <tbody>
                <tr id="tr-0">
                    <td><input class="input-tableau-caisse" id="code-0" type="text"/></td>
                    <td><input class="input-tableau-caisse" id="nom-0" type="text"/></td>
                    <td><input class="input-tableau-caisse" id="qte-0" onchange="calculerSousTotal(this)" type="number"/></td>
                    <td><input class="input-tableau-caisse" id="prix-0" onchange="calculerSousTotal(this)" type="number" step="0.01"/></td>
                    <td><span id="sous-total-0">0</span><span> €</span></td>
                </tr>
            </tbody>
        </table>
        <div id="side-container">
            <div id="total-caisse">
                <table class="table" id="table-total-caisse">
                    <thead>
                        <tr><th>Total</th></tr>
                    </thead>
                    <tbody>
                    <tr><td id="prix-total-caisse">0 €</td></tr>
                    </tbody>
                </table>
            </div>
            <div id="paiement-container">
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#modalPaiementEC">Liquides/Chèque</button>
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#modalPaiementCB">CB</button>
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#modalPaiementCAS">PayUTC</button>
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#modalPaiementCASS">Compte Assos</button>
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#modalPaiementDI">Dépense interne</button>
                <hr>
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#modalPaiementPayUTC">Solde PayUTC</button>
                <hr>
                <button class="btn btn-success">Imprimer Facture</button>
                <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#modalJournalVentes">Journal des Ventes</button>
            </div>
        </div>
    </div>
</main>
</body>
</html>
