<!DOCTYPE html>

<html>  
<head>
    <title><%= title %></title>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/stylesheets/css/wiki.css">
</head>

    <body>
    <%- include('../partials/header', title='Wiki', session=session); %>
        <main>
            <h1>Wiki</h1>
            <% content.forEach((item)=> { %>
                <div>
                    <hr>
                    <h3><pre><%= item.Titre %></pre></h3>
                    <p>
                        <pre><%= item.Contenu %></pre>
                    </p>
                    <div class="admin-btn hidden">
                        <a class="edit" href="#">&#10000;</a>
                        <a class="valid hidden" href="#">&#10004;</a>
                    </div>
                </div>
            <% }) %>
        </main>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script>
            $('.el-wiki').addClass('active')

            $('.edit').on('click', function() {
                var p = $(this).parent().siblings('p')
                if(p.attr('contentEditable')) {
                    p.removeAttr('contentEditable')
                } else {
                    p.attr('contentEditable',true)
                }
                $(this).siblings('.valid').toggleClass("hidden");
            })

            $('.valid').on('click', function() {
                $.post("wiki/update", 
                {
                    content: $(this).parent().siblings('p').text(),
                    title: $(this).parent().siblings('h3').text()
                },
                function() {
                    location.reload(true);
                });

                $(this).toggleClass("hidden");
                $(this).parent().siblings('p').removeAttr('contentEditable')
            })
        </script>

    </body>
 
</html>
